@model MVC5_full_version.Models.RegisterViewModel
    
@using reCAPTCHA.MVC
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
@*<html class="no-js">*@
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Structure | @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     @Scripts.Render("~/bundles/ie")
     <![endif]-->
    <script>
var verifyCallback = function (response) {
    //alert("grecaptcha is ready!");
};

var expiredCallback = function () {
  //  alert("grecaptcha is expired!");
};
    </script>

</head>

<body>

        <section class="container animated fadeInUp">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="login-wrapper">
                        <header>
                            <div class="brand">
                                <a href="index.html" class="logo">
                                    <i class="icon-layers"></i>
                                    <span>STRU</span>CTURE
                                </a>
                            </div>
                        </header>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Sign Up
                                </h3>
                            </div>
                            <div class="panel-body">
                                

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <p>Already a member? @Html.ActionLink("Sign In", "Login", "Account")</p>
                                        
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" , placeholder = "Required"} })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Required" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Required" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Required" } })
                                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Required" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" , placeholder = "Required" } })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ReferalCode, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.ReferalCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Optional" } })
                                                @Html.ValidationMessageFor(model => model.ReferalCode, "", new { @class = "text-danger" })
                                                <br />
                                                @Html.Recaptcha()
                                                @Html.ValidationMessage("ReCaptcha")
                                            </div>
                                        </div>

                                        @Html.Recaptcha(publicKey: "6Ldk9TsUAAAAAJ8EnHDu0VNR6lbJxU6ss_fVhUyf", theme: CaptchaTheme.Light, type: CaptchaType.Image,
                                                          callback: "verifyCallback", expiredCallback: "expiredCallback")

                                        

                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <input type="submit" value="Register" class="btn btn-default" />
                                                <br />
                                                <br />
                                                <p>Already a member? @Html.ActionLink("Sign In", "Login", "Account")</p>
                                            </div>
                                        </div>

                                        <hr />
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <p>&copy;Copyright. Structure</p>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @*<div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>*@
    </body>
    </html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>  