@using Microsoft.AspNet.Identity
<!--sidebar left start-->
<aside class="sidebar sidebar-left">
    <div class="sidebar-profile">
        <div class="avatar">
            <img class="img-circle profile-image" src="~/Images/Avatars/icons8-user-80.png" alt="profile">
            <i class="on border-dark animated bounceIn"></i>
        </div>
        @*<div class="profile-body dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>Mike Adams<span class="caret"></span></h4></a>
            <small class="title">Front-end Developer</small>
            <ul class="dropdown-menu animated fadeInRight" role="menu">
                <li class="profile-progress">
                    <h5>
                        <span>80%</span>
                        <small>Profile complete</small>
                    </h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-primary" style="width: 80%">
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icon">
                            <i class="fa fa-user"></i>
                        </span>My Account
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icon">
                            <i class="fa fa-envelope"></i>
                        </span>Messages
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icon">
                            <i class="fa fa-cog"></i>
                        </span>Settings
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icon">
                            <i class="fa fa-sign-out"></i>
                        </span>Logout
                    </a>
                </li>
            </ul>
        </div>*@
    </div>
    <nav>
        <h5 class="sidebar-header"></h5>
        <ul class="nav nav-pills nav-stacked">
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="fa fa-fw fa-tachometer"></i> Dashboard
                </a>
            </li>
                       <li class="nav-dropdown @Html.IsSelected(controller: "Forms")">
                <a href="@Url.Action("Index", "ICO")" title="Forms">
                    <i class="fa  fa-fw fa-edit"></i> ICO
                </a>
               
            </li>
            <li class="nav-dropdown @Html.IsSelected(controller: "Tables")">
                <a href="@Url.Action("Index","STRUExchange")" title="Tables">
                    <i class="fa  fa-fw fa-th-list"></i> STRU Exchange
                </a>
              
            </li>
            @*<li class="nav-dropdown @Html.IsSelected(controller: "Charts")">
                <a href="@Html.ActionLink("Network","Index",new { refCode = @User.Identity.GetUserName() })" title="Charts">
                    <i class="fa  fa-fw fa-bar-chart-o"></i> Network
                </a>
               
            </li>*@
            <li class="nav-dropdown @Html.IsSelected(controller: "Network")">
                <a href="@Url.Action("Main", "Network")" title="Charts">
                    <i class="fa  fa-fw fa-bar-chart-o"></i> Network
                </a>

            </li>

            <li>
                <a href="@Url.Action("Index","Security")" title="Frontend">
                    <i class="fa  fa-fw fa-desktop"></i> Security
                    <span class="pull-right badge badge-danger">new</span>
                </a>
            </li>
            <li class="nav-dropdown @Html.IsSelected(controller: "Mail")">
                <a href="@Url.Action("Index","Wallet")" title="Mail">
                    <i class="fa fa-fw fa-envelope-o"></i> Wallet
                    <span class="label label-primary label-circle pull-right">8</span>
                </a>
                
            </li>
            <li class="nav-dropdown @Html.IsSelected(controller: "Maps")">
                <a href="@Url.Action("Index","Profile")" title="Maps">
                    <i class="fa  fa-fw fa-map-marker"></i> Profile
                </a>
              
            </li>
           
            <li class="nav-dropdown @Html.IsSelected(controller: "Pages")">
                <a href="@Url.Action("Index","Support")" title="Pages">
                    <i class="fa  fa-fw fa-file-text"></i> Support
                </a>
               
            </li>
          
           
        </ul>
    </nav>
    
</aside>
<!--sidebar left end-->