@using MVC5_full_version.Models
@model MVC5_full_version.Models.Profile.EditPersonalDetailsViewModel
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script>
   
    $('#btnEditProfile').click(function () {
        var data = {
            FirstName: $('#FirstName').val(),
            LastName: $('#LastName').val(),
            Username: $('#Username').val(),
            Email:$('#Email').val()
        };

        $.ajax({
            type: 'POST',
            url: '/Profile/UpdateUserInfo',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function () {

            },
            error: function () {
                alert('error');
            }
        });

    });


    $(document).ready(function () {
        $.ajax({

            type: 'POST',
            url: '/Profile/GetUserDetails',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //console.log(data);
                //console.log(data[0].Email);
                console.log(data)//[0].Username);
                $('#FirstName').val(data[0].FirstName);
                $('#LastName').val(data[0].LastName);
                $('#EmailAddress').val(data[0].Email);
                $('#Username').val(data[0].UserName);
              //  alert(data);
               
            },
            error: function () {
                alert('error');
            }
        });

    });
</script>




@using (Html.BeginForm(new { @class = "form-horizontal", role = "form" })) { 

    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", disabled="disabled" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="btnEditProfile" value="Update Profile" class="btn btn-default" />
        </div>
    </div>

}